.footer--primary {
  padding: 2rem 10%;
  background-color: #42413C;
  color: #FFF;
}

.footer--address, .footer--info {
  margin: 0 auto;
  padding-top: 2rem;
  font-style: normal;
}

.footer--text {
  margin: 0 0 0.2rem 0;
}

.footer--email, .footer--text--gap, .footer--telephone, .footer--credit {
  margin: 2rem auto 0 auto;
}

.footer--credit {
  font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
  .footer--primary {
    display: flex;
    flex-wrap: wrap;
  }
  .footer--right {
    margin: 0 auto;
    width: 30%;
    order: 2;
  }
  .footer--left {
    margin: 0 auto;
    width: 30%;
    order: 1;
  }
  .footer--address, .footer--info, .footer--email, .footer--text--gap, .footer--telephone {
    width: 100%;
  }
  .footer--credit {
    width: 100%;
    order: 3;
    text-align: center;
  }
}