/* Colours */

:root {
  --color--white: #FFF;
  --color--black: #0D0D0D;
  --color--grey: #42413C;
  --color--blue: #00527D;
  --color--green: #C9D300;
  --color--none: rgba(0,0,0,0);
}

@mixin fonts {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif; font-size: 100%; font-weight: 300;
}

body {
  margin: 0;
  background-color: #42413C; color: #42413C;
  @include fonts;
}

.link--white {
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px solid #FFF;
  &:hover {
    color: #C9D300;
    border-color: #C9D300;
  }
}

/* Import Header and Nav Partials */

@import 'header';
@import 'nav';

.primary--section--background {
  background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment: fixed;
}

.bg--sect--1 {
  background-image: url(../temp_assets/bg/bg--blue--2.jpg);
}

.bg--white {
  background-color: #FFF;
}

.bg--white--1 {
  background-image: url(../temp_assets/bg/bg--white--1.jpg);
}

.bg--blue--2 {
  background-image: url(../temp_assets/bg/bg--blue--2.jpg);
}

.bg--grey {
  background-color: #42413C;
}

.primary--section {
  margin: 0 auto;
  padding: 0 20px 3rem 20px;
  max-width: 80%;
  position: relative;
}

.primary--section--icon {
  margin: 0 auto; padding: 3rem 0 0 0;
  height: 100px;
  display: block;
  color: #C9D300;
}

.primary--icon--fill {
  fill: #a4ad00;
}

.primary--section--text {
  margin: 2rem auto 0 auto;
  max-width: 500px;
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: #42413C;
}

.bolder--text {
  font-weight: 600;
}

.text--white {
  color: #FFF;
}

.long--text {
  width: 100%;
  max-width: 100%;
}

.primary--icon--button {
  margin: 2rem auto 0 auto; padding: 0.5rem 0;
  width: 60%; max-width: 200px;
  display: block;
  text-align: center;
  border: 4px solid #00527D; border-radius: 30px;
  color: #00527D; font-weight: 600;
  text-decoration: none;
  &:hover {
    color: #FFF; background-color: #00527D;
  }
}

.heading--two {
  margin: 0;
  padding: 3rem 0 0 0;
  font-size: 2.5rem;
  color: #C9D300;
  text-align: center;
}

.geo--map, .contact--map {
  height: 300px;
  width: 100%;
  display: block;
}

.contact--map {
  margin-top: 2rem;
}

.blue--text {
  color: #00527D;
}

.about--left, .about--right {
  color: #42413C;
}

.sub--header {
  padding: 2rem 0 1rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
}

.sub--header--center {
  text-align: center;
}

.section--text--short {
  text-align: center;
}

.center--text {
  text-align: left;
  width: 100%;
  max-width: 100%;
  font-size: 1.2rem;
}

.center--list {
  margin: 1rem 0 0 0;
  padding: 0;
  max-width: 100%;

}

.center--list--item {
  margin: 0 0 0 1rem;
  padding: 0.2rem 0 0 1rem;
}

/* Import Form and Footer Partials */

@import 'form';
@import 'footer';

/* Desktop viewport, screens 1024px and above */

@media screen and (min-width: 1024px) {
  .heading--two {
    padding: 3rem 0 0 0;
    font-size: 3rem;
    text-align: left;
  }
  .primary--section--text {
    margin: 2rem 0 0 0;
  }
  .primary--section--flex {
    margin: 0 auto; padding-bottom: 6rem;
    max-width: 75%; 
    display: flex; 
  }
  .primary--section--flex--child--1 {
    width: 33%; order: 1;
  }
  .primary--section--flex--child--2 {
    width: 33%; order: 2;
  }
  .primary--section--flex--child--3 {
    width: 33%; order: 3;
  }
  .primary--section--icon {
    padding: 6rem 0 0 0;
  }
  .primary--icon--text {
    margin: 3rem auto 0 auto;
    text-align: center;
  }
  .primary--icon--button {
    margin: 3rem auto 0 auto;
    padding: 0.7rem 0;
  }
  .section--text--short {
    margin: 2rem auto 0 auto;
    max-width: 80%;
  }
  .primary--paragraph {
    max-width: 70%;
  }

  .smaller--section {
    max-width: 750px;
  }

  .center--header {
    text-align: center;
    padding: 4rem 0 0 0;
  }

  .about--left {
    margin: 3rem auto 0 0;
  }

  .about--right {
    margin: 3rem 0 0 auto;
  }
  .contact--map {
    position: absolute;
    bottom: 2rem;
    right: 0;
    width: 50%;
    height: calc(100% - 184px);
  }
  .flex--section {
    display: flex;
   }
   
   .flex--2--col--left {
     margin: 0 auto;
     padding: 2rem 0;
     order: 1;
   }
   
   .flex--2--col--right {
     margin: 0 auto;
     padding: 2rem 0;
     order: 2;
   }
   
   .bigger--text {
     font-size: 1.4rem;
     line-height: 2.4rem;
     text-align: left;
   }
   .center--list {
    margin: 2rem 0 0 0;
    text-align: center;
    list-style-type: none;
  }
  .center--text {
    margin: 2rem 0 0 0;
    text-align: center;
  }
  .center--list--item {
    margin: 0 0 0 1rem;
    padding: 0.2rem 0 0 0;
  }
}